@import url('https://fonts.googleapis.com/css?family=Raleway');

html,body,h1,h2,h3,h4,h5,h6,a{
    font-family: "Raleway";
}

header {
    background-image: url(/images/Guiding.JPG);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.nav-link {
    color: black;
}

.border-bottom {
    border-bottom-color: #d6c5a7;
    border-bottom-width: 4px;
}

.vw2 {
    font-size: 2vw;
}

.vw3 {
    font-size: 3vw;
}

.container1 {
    background-color: #d6c5a7;
}

h3 {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
}

.expertises {
    border-right-style: solid;
    border-right-color: #d6c5a7;
}

.card-header {
    background-color:  #d6c5a7;
}
.projects {
    width: 100%;
    height: auto;
    border: 15px;
}